*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
    position: relative;
}
.loader{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(16, 16, 16);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    z-index: 1000000;
    transition: opacity 0.75s, visibility 0.75s;
}
.loading-text {
    position: absolute;  
    color: white;  
    font-size: 20px;  
}
.loader-hidden{
    opacity: 0;
    visibility: hidden;
}
.loader::before{
    content: '';
    width: 120px;
    height: 120px;
    position: absolute;  
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 5px solid rgb(16, 16, 16);
    border-top: 5px solid rgb(220, 15, 15);
    border-left: 5px solid rgb(220, 15, 15);
    border-radius: 50%;
    animation: spin1 1s linear infinite;
}
@keyframes spin1 {
    from{
        transform: translate(-50%,-50%) rotate(0deg);
    }to{
        transform: translate(-50%,-50%) rotate(-360deg);
    }
}
.loader::after{
    content: '';
    width: 140px;
    height: 140px;
    position: absolute;  
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 5px solid rgb(16, 16, 16);
    border-top: 5px solid rgba(224, 3, 3, 0.5);
    border-left: 5px solid rgba(224, 3, 3, 0.5);
    border-radius: 50%;
    animation: spin2 1.5s linear infinite;
}
@keyframes spin2 {
    from{
        transform: translate(-50%,-50%) rotate(0deg);
    }to{
        transform: translate(-50%,-50%) rotate(360deg);
    }
}
.Main{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-top: 30px;
}
.Anno{
    width: 400px;
    height: 150px;
    background-color:rgb(31, 30, 30);
    box-shadow: inset 0 0 2em 0 rgba(8, 190, 74, 0.7) , 0 0 2em 0 rgba(8, 190, 74, 0.6);
    border: 3px solid rgba(8, 190, 74, 0.5);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: rgba(8, 190, 74, 0.6);
    text-shadow: 0 0 0.5em rgba(8, 190, 74);
    cursor: pointer;
}
.RegFo{
    width: 400px;
    height: 150px;
    background-color:rgb(31, 30, 30);
    box-shadow: inset 0 0 2em 0 rgba(224, 3, 3, 0.7) , 0 0 2em 0 rgba(224, 3, 3, 0.6);
    border: 3px solid rgba(224, 3, 3, 0.5);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: rgba(224, 3, 3, 0.5);
    text-shadow: 0 0 0.5em rgba(224, 3, 3, 0.5);
    cursor: pointer;
}
.Resu{
    width: 400px;
    height: 150px;
    background-color:rgb(31, 30, 30);
    box-shadow: inset 0 0 2em 0 rgba(8, 120, 190, 0.6) , 0 0 2em 0 rgba(8, 120, 190, 0.6);
    border: 3px solid rgba(8, 120, 190, 0.6);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: rgba(8, 120, 190, 0.6);
    text-shadow: 0 0 0.5em rgba(8, 120, 190, 0.6);
    cursor: pointer;
}
#popupG{
    display: block;
    position: fixed;
    width: fit-content;
    height: 70px;
    top: 15%;
    right: 15px;
    margin: 10px;
    z-index: 9999;
    transform: translateX(120%);
    transition: transform 200ms ease-in-out;
}
.popupG{
    color: black;
    display: flex;
    align-items: center;
    gap: 40px;
    background-color: white;
    padding: 10px;
    font-size: 20px;
}
.totalContentG{
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgb(37, 144, 78);
}
.timebar-containerG{
    background-color: white;
    overflow-x: hidden;
    width: 100%;
    height: 6px;
}
.timebarG{
    width: 100%;
    background-color: rgb(37, 144, 78);
    height: 6px;
    transform-origin: left;
    transform: scaleX(1);
    transition: transform 3s linear;
}
.d{
    background-color: rgb(31, 30, 30);
    color: white;
    padding: 30px;
    border-radius: 10px;
    border: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.d1{
    background-color: rgb(31, 30, 30);
    width: 400px;
    border: none;
    color: white;
    padding: 30px;
    border-radius: 10px;
    font-size: 0.85rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.d1 div{
    margin-bottom: 5px;
}
.button3{
    margin-top: 10px;
    display: flex;
    justify-content: right;
}
.fullClubBody{
    position: absolute;
    right: 50%;
    top: 40%;
    transform: translateX(50%);
    width: 80%;
    overflow-x: auto;
    text-align: center;
}
.row{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 30px;
    margin: 0;
    padding: 10px;
}
.poke:nth-child(even) {
    background-color: #2f2f2f;  
  }
  
  .poke:nth-child(odd) {
    background-color: #202020;  
  }
.clubBody{
    display: grid;
    grid-template-rows: auto;
    gap: 0px;
    white-space: nowrap; 
    color: white;
}
.schedule{
    display: grid;
    grid-template-columns: repeat(2 , 200px);
}
.roundsHeader{
    display: grid;
    grid-template-columns: repeat(2 , 200px);
    padding: 10px;
}
.bodyHead{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    white-space: nowrap;
    width: 100%;
    font-size: 22px;
}
.bodyHead div:nth-child(n) {
    background-color: rgb(220, 15, 15);  
}
.row11{
    padding: 10px;
}
.fullRegBody{
    position: absolute;
    right: 50%;
    top: 70%;
    transform: translateX(50%);
    width: 80%;
    overflow-x: auto;
    text-align: center;
}
.row1{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
    margin: 0;
    padding: 10px;
}
.poke8:nth-child(even) {
    background-color: #2f2f2f;  
  }
  
  .poke8:nth-child(odd) {
    background-color: #202020; 
  }
.ViewButton{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
}
.RegBody{
    display: grid;
    grid-template-rows: auto;
    gap: 0px;
    white-space: nowrap; 
    color: white;
}
.RegbodyHead{
    display: grid;
    grid-template-columns: 1fr 2fr;
    white-space: nowrap;
    width: 100%;
    font-size: 22px;
}
.RegbodyHead div:nth-child(n) {
    background-color: rgb(220, 15, 15);  
}
.roundsHeader1{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    padding: 10px;
}
@media (max-width: 1085px){
    .Main{
        flex-direction: column;
        gap: 30px;
    }
    .Anno , .RegFo , .Resu{
        width: 350px;
        height: 100px;
    }
    .fullClubBody{
        top: 65%;
    }
    .fullRegBody{
        top: 95%;
    }
}