*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
    position: relative;
}
#header{
    cursor: pointer;
}
.PreferenceForm{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;
    width: 700px;
    border: 2px solid rgb(220,15,15);
    padding: 30px;
    border-radius: 20px;
}
.inp1{
    margin-bottom: 20px;
}
.inp1 input{
    width: 500px;
}
select{
    height: 50px;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    padding: 5px;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
    background-color: #d7e2f3;
    margin: 10px;
}